.hoveredFighter {
  position: relative;
  top: -300px;
  width: 350px;
  text-align: center;
}
.imgWrapper {
  overflow: hidden;
}
.hoveredFighter img {
  width: 150px;
}
.hoveredFighter h3 {
  background-color: transparent;
}
