.root {
  font-size: 60px;
  color: red;
  display: grid;
  grid-template-areas:
    "a a"
    "b c";
  position: relative;
}
.root h1 {
  grid-area: a;
  text-align: center;
  color: black;
  font-size: 2rem;
  margin-top: 100px;
}
.root h1::after {
  content: "vs";
  position: absolute;
  top: 45%;
  left: 45%;
  font-size: 140px;
  color: black;
  transform: rotate(-20deg);
}
.selectedFighter {
  grid-area: b;
}
.selectedFighter + .selectedFighter {
  grid-area: c;
}
.imgWrapper {
  height: 400px;
  overflow: hidden;
}
.imgWrapper img {
  width: 600px;
}
img[src*="scor"] {
  position: relative;
  top: -200px;
}

h3 {
  font-size: 2rem;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 30px;
  background-color: #000;
}
