@font-face {
  font-family: MKX;
  src: local("MK"), url("assets/fonts/MKX-Title.otf") format("opentype");
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  background: black url(./assets/images/metal-bg.jpg);
  color: white;
  background-size: cover;
  height: 100vh;
  font-family: MKX, sans-serif;
  font-size: 1rem;
}
.selected-fighter {
  position: absolute;
  top: 550px;
  left: 10px;
  text-align: center;
}
.selected-fighter img {
  height: 400px;
  width: auto;
}
.codeSelected {
  cursor: pointer;
}
.codeSelected.Q {
  background-image: url(./assets/images/icons/code_scull.png);
  background-color: white;
  cursor: pointer;
}
.codeSelected.W,
.codeSelected.E {
  background-image: url(./assets/images/icons/code_mk.png);
  cursor: pointer;
}
