.fighterSelectionBox {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 10px;
  margin: 0 auto;
  border: solid 10px gainsboro;
  gap: 10px;
}

h2 {
  text-align: center;
  font-size: 4rem;
  color: gainsboro;
  text-shadow: 1px 1px 1px black;
}

.fighter {
  padding: 0;
  cursor: pointer;
  margin: 0;
  border: solid 1px gainsboro;
  height: 150px;
  width: 150px;
  overflow: hidden;
  position: relative;
  background-color: black;
  text-align: center;
  transition: 0.8s;
}

.fighter span {
  position: absolute;
  bottom: 0;
  font-size: 2.5rem;
  background-color: black;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.fighter:nth-child(1) img {
  top: -150px;
}

.fighter:nth-child(5) img {
  top: -50px;
}

.fighter:nth-child(6) img {
  left: -25%;
}

.fighter:nth-child(8) img {
  top: -50px;
}

.fighter img {
  width: 300px;
  position: relative;
  left: -50%;
  transition: 0.8s;
}

.fighter:hover,
.fighterActive {
  border-color: red;
  outline: solid 3px red;
}
.fighter:hover img,
.fighterActive img {
  transform: scale(1.1);
}
